.welcome-background {
    padding-top: 12vw;
    background-color: #B4DCE7;
}

.content-welcome {
    position: relative;
}

.welcome-text {
    color: rgb(60, 108, 122);
    font-weight: 300;
    font-size: 3vw;
    line-height: 4vw;
}

.welcome-image-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: auto;
}

.welcome-image-chart {
    margin: 12vw 0;
    width: 40%;
}



@media (min-width:1440px) {
    .welcome-text {
        font-size: 40px;
        line-height: 60px;
    }

    .welcome-background {
        padding-top: 150px;
    }

    .welcome-image-chart {
        margin: 150px 0;
    }
    
}

